#chanageListTitel {
    margin-bottom: 10px;
}

.input-group-text {
    background-color: white;
    border: none;
}

/*///////////////////////////////////////////////////////////////////*/
/*// Popup Style*/
/*////////////////////////////////////////////////////////////////////*/
#colourPlate {
    font-size: 15px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .popuptext {
    visibility: hidden;
    width: 100px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 25px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*///////////////////////////////////////////////////////////////////*/
/*// Generater Combo Box ICON Style*/
/*////////////////////////////////////////////////////////////////////*/
#sideIcon {
    margin-left: 5px;
    margin-right: 5px;
    color: white;
}

#sideIcon:hover {
    color: #7e8082;
    cursor: move;
}

#iColse {
    padding: 2px;
    margin-top: 5px;
    margin-right: 5px;
    color: white;
}

#iColse:hover {
    color: #7e8082;
    cursor: pointer;
}

/*///////////////////////////////////////////////////////////////////*/
/*// Colour Picker Style*/
/*////////////////////////////////////////////////////////////////////*/
.divColourChose {
    position: relative;
}

.demo_panel_box {
    top: 8%;
    position: fixed;
    width: 160px;
    height: 120px;
    border-radius: 10%;
    display: block;
    background: #ebedef;
    text-align: center;
    z-index: 90;
}

#demoClourBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    visibility: hidden;
}

.color_panel_box {
}

.color_panel_box span {
    width: 30px;
    height: 30px;
    display: block;
    margin-left: 20px;
    border-radius: 50%;
    float: left;
    margin: 5px;
}

/*----------------------------------------*/
.color_panel_box span.white_Color {
    cursor: pointer;
    background: white;
}

.color_panel_box span.red_Color {
    cursor: pointer;
    background: rgb(226, 106, 106);
}

.color_panel_box span.orange_Color {
    cursor: pointer;
    background: rgb(244, 179, 80);
}

.color_panel_box span.yellow_Color {
    cursor: pointer;
    background: rgb(255, 246, 143);
}

/*---------------------------------------*/
.color_panel_box span.green_Color {
    cursor: pointer;
    background: rgb(123, 239, 178);
}

.color_panel_box span.teal_Color {
    cursor: pointer;
    background: rgb(129, 207, 224);
}

.color_panel_box span.blue_Color {
    cursor: pointer;
    background: rgb(137, 196, 244);
}

.color_panel_box span.darkblue_Color {
    cursor: pointer;
    background: rgb(30, 139, 195);
}

/*-----------------------------------------*/

.color_panel_box span.purple_Color {
    cursor: pointer;
    background: rgb(210, 82, 127);
}

.color_panel_box span.pink_Color {
    cursor: pointer;
    background: rgb(241, 169, 160);
}

.color_panel_box span.brown_Color {
    cursor: pointer;
    background: rgb(149, 165, 166);
}

.color_panel_box span.gray_Color {
    cursor: pointer;
    background: rgb(210, 215, 211);
}

/*////////////////////////////////////////////////////////////*/
.packery {
    background: #FDD;
    background: hsla(45, 100%, 40%, 0.2);
    max-width: 520px;
}

.packery:after {
    content: ' ';
    display: block;
    clear: both;
}

.item {
    width: 40px;
    height: 40px;
    float: left;
    background: #C09;
    border: 4px solid #333;
    border-color: hsla(0, 0%, 0%, 0.3);
}

.item:hover {
    border-color: white;
    cursor: move;
}

.item.w2 {
    width: 80px;
    background: #9C0;
}

.item.h2 {
    height: 80px;
    background: #0C9;
}

.item.h4 {
    height: 160px;
    background: #C90;
}

.item.w4 {
    width: 160px;
    background: #90C;
}

.item.is-dragging,
.item.is-positioning-post-drag {
    border-color: white;
    background: #09F;
    z-index: 2;
}

/*///////////////////////////////////////////////////////////////////////*/
#btnOne {
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 120px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

#btnOne:hover {
    background-color: #e9e9e9;
}

.fa-palette {
    margin-top: 7px;
    margin-bottom: 0;
    margin-left: 7px;
    font-size: 30px;
    color: #9a9a9a;
}

.fa-palette:hover {
    color: #cfcfcf;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-control {
    border: none;
}
/*////////////////////////////////////////////////////////////*/
#cardD{
    cursor: pointer;
}